*, *{
	z-index: 10;
	margin: 0px;
	padding: 0px;
}

.nav{
	background-color: white;
	border-bottom: 1px black solid;
}

.nav li{
	padding-top: 5px;
	padding-left: 5px;
}

#frame{
	width: 760px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 15px;
	font-family: Verdana;
	height: 100%;
	background-color: white;
	z-index: 10;
}

.createLink:hover {
	text-decoration: none;
}

.page-header{
	margin-top: 40px;
	
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.container{
	margin-top: 40px;
}

.fadein {
    position:relative;
    /*height:320px;*/
    width:320px;
    z-index: -20;
}

.fadein img {
    position:fixed;
    left:0;
    top:0;
    z-index: -20;
	width: 100%;
	height: 100%;
}
