#frame{
	width: 760px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 15px;
	font-family: Verdana;
	height: 100%;
	background-color: white;
}
/*
table{
	border-collapse: collapse;
	background-color: #D8D8D8; 
	border: 1px solid black;
}*/

/*table th, table td{
	border: 1px solid;
}*/